
<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.anvasy.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>
      com.anvasy.filter.LoginFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/register</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>
      com.anvasy.filter.AdminFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>com.anvasy.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ShowArticleServlet</servlet-name>
    <servlet-class>com.anvasy.servlet.ShowArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowArticleServlet</servlet-name>
    <url-pattern>/article</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddEditServlet</servlet-name>
    <servlet-class>com.anvasy.servlet.AddEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEditServlet</servlet-name>
    <url-pattern>/addedit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.anvasy.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.anvasy.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>BonusServlet</servlet-name>
  <servlet-class>com.anvasy.servlet.BonusServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>BonusServlet</servlet-name>
    <url-pattern>/bonus</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.anvasy.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>VkAuthServlet</servlet-name>
    <servlet-class>com.anvasy.servlet.VkAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VkAuthServlet</servlet-name>
    <url-pattern>/vkauth</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.anvasy.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

</web-app>


